
*{
    box-sizing: border-box;
    margin: 0;
/* }
body{
    display:flex;
    flex-direction: column;
    height: 100vh; */
}
body{
    height: 100vh;
}

header{
    width: 100vw;
    height: 10vh;
    /* border: 2px solid red; */
    background-color: aquamarine;
    text-align: center;
}
nav{
    width: 100vw;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;


    
    /* border: 2px solid red; */
    background-color: black;
    color: rgb(141, 114, 114);
}
.logo{
    text-align: center;
    align-items: center;
    width: 28vw;
    color:blueviolet;
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navright{
    width: 50vw;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid white; */
}
button{
    height: 5vh;
    width: 8vw;
}
a{
    color: aqua;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform:uppercase
}
.flex-container{
    display:flex;
    flex-direction:row;

    
}
.sectionBlock{
    display:flex;
    flex-direction:column;
    width: 70vw;

    /* border: 6px solid rgb(52, 59, 54); */

}
section{
    display:flex;
    flex-direction: row;
    /* border: 2px solid red; */
    text-align: center;
    width: 100%;
    height: 50vh;
    background-color: aqua;
}
img{
    width: 60%;
    
    height: 100%;
}
.ff{
    background-color: yellow;
}
aside{
    flex-direction: column;
    width: 30%;
    height: 100vh;
    /* border: 2px solid red; */
    background-color: blue;
}
footer{
    width: 100%;
    height: 20vh;
    /* border: 2px solid red; */
    background-color: green;
}